.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10xp;
  background-color: var(--darkGrey);
  padding: 10px;
  border-radius: 10px;
  width: max-content;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--textSoft);
  outline: none;
}
